:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.part {
  font-weight: 500;
  font-size: x-large;
  color: #090909;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(11, 11, 11, 0.87);
  background-image: url(/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; 
  opacity: 0.7;
  z-index: -1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #090909;
}


.part-select{
  width: 100%;
  max-width: 280px;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border:2px solid #6c6363;
  cursor: pointer;

  /* fjerne default look */
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;

/* plass til pil*/
background-image: url("data:image/svg+xml,%3Csvg fill='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: right 0.75rem center;
background-size: 1rem;
}

.part-select:focus-visible,
.part-select:hover,
.part-select:focus{
   outline: 3px solid rgb(129, 45, 45);
   outline-offset: 3px;
}


button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  gap: 1rem;
}


button:hover,
button:focus,
button:focus-visible {
  outline: 3px solid rgb(129, 45, 45);
  outline-offset: 3px;
}

.selected-part {
  font-weight: bold;
  font-size: x-large;
  color: rgb(78, 27, 27);     
  text-transform: capitalize;
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
